extends layout

block content
  .container.index
    h1= title
    h2= "You can't eat it but it feeds you"
    p= "that's exactly why it should be free"
    a(href="experiment") See all the beautiful artworks created
    a(href="experiment.html") Create a new artwork
