@font-face
   font-family Prata
   font-style normal
   src url(../Prata-Regular.ttf)

body
  font-family Prata
  background-color rgb(25, 25, 25)
  color white
  margin 0

  h1
    font-size 60px

  h2
    margin 0
  p
    margin 0 0 40.2px 0

  a
    color white
    text-transform uppercase
    text-decoration none
    border-bottom 1px solid white
    padding-bottom 3px


  .experiment
    display flex
    flex-direction column
    align-items center
    justify-content center
    h1
      text-transform capitalize
      margin 10px 0 4px 0
    .date
      font-size 10px
    img
      width 80vw

  content
    display flex

  .container
    display flex
    flex-direction column
    align-items center
    min-height 95vh
    justify-content center

  .index
    a
      margin-bottom: 20px

  ul
    display flex
    flex-wrap wrap
    list-style: none
    justify-content space-around
    padding 0
    li
      width 45vw
      display flex
      flex-direction column
      justify-content center
      align-items center
      p
        text-transform capitalize
      a
        margin-bottom 20px
      img
        width 40vw
